.loginContainer{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    background-color: rgba(136, 136, 136, 0.091);
    margin: 20vh auto;
    padding: 40px 30px 20px 30px;
    border-radius: 10px;
    backdrop-filter: blur(8.5px);
    color: aliceblue;
    
}


.welcome {
    text-align: center;
    font-size: 2em;
    padding-bottom: 20px;
}


input, p {
    margin: 5px 0;
}
button{
    margin: 15px 15px;

}

.buttonLogin {
    margin-bottom: 0px;
    font-size: 1.2em;
}
.buttonGoogle {
    background:rgb(66, 134, 244);
    width: 200px;
    border-radius: 20px;
    margin: auto;
    padding: 4px;
    font-size: 1em;
    color: rgb(249, 249, 249);
    border: none;
}
.buttonGoogle:hover {
    color: rgb(66, 133, 244);
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgb(66, 133, 244);
}

.loginLink {
    color: rgb(66, 133, 244);
    cursor: pointer;
}