.contaionerNav {
    /* margin: 10; */
    display: flex;
    background-color: rgba(154, 167, 178, 0.533);
    flex-direction: row;
    width: 100vw;
    color: aliceblue;
}
.textoClaro {
    color: aliceblue;

}

.navlist {
    display: flex;
}
.navlist li {

    list-style: none;
    margin: 5px;

}
.userImg {
    border-radius: 50%;
    max-width: 40px;
    margin: 0 15px;
}
.userInfo{
    display: flex;
    align-items: center;
    /* float: right; */

}
.textUser {
    margin: 0 10px;
}
.buttonLogOut{
    height: 25px;
}
.center {
    align-self: center;
    align-items: center;
}